extends layout

block content
    div(class="container mt-3 mx-auto")
        
        div(id="usuario")

        div(class='conteiner')
                div(class='jumbotron')
                    h1(style="color:blue;") Login de Usuario
                    label
                        b Ingrese su Mail
                    input(class="form-control" type="text" id="NombreLogIn")
                    label
                        b Ingrese su Contraseña
                    input(class="form-control" type="password" id="Password")
                    button(class="btn btn-success mt-5 mb-5" onclick ="return logIn()") Enviar
                    p(class="border-bottom border-4 w-auto") 
                    button(class="btn btn-success mt-5 mb-5" onclick="location.href='/register'") Ir a Register